* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-size: clamp(30%, 62.5%, 70%); */
}

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-family: nectar;
  line-height: 1.5;
  background: #ffffff;
  font-size: 1rem;
  color: rgb(255, 255, 255);
}

body::-webkit-scrollbar {
  width: 1px;
}

a {
  text-decoration: none;
}
.nav a {
  padding-bottom: 4px;
  color: #ffffff;
}

.nav a:hover {
  color: rgb(148, 148, 148);
  border-bottom: 1.5px solid rgb(250, 142, 18);
  transition: all ease-out 0.3s;
}

ul {
  list-style: none;
}

.logo {
  font-size: 1.5rem;
}

svg {
  font-size: 1.5rem;
}

span {
  color: rgb(250, 142, 18);
}

/* nav bar //////////////////////////////////////// */

#show-container {
  background: url(./bkimg.webp) no-repeat center center/cover;
}

.header {
  display: flex;
  justify-content: center;
}

.nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: fixed;
  gap: 2rem;
  padding-top: 0.5rem;
  line-height: 2rem;
  width: 100%;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-bottom: 0.5rem;
  overflow: hidden;
  z-index: 1;
}

.menu-1 ul {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 2rem;
}
.menu-2 ul {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 2rem;
}

.logo {
  display: flex;
  justify-content: center;
}

/* nav 2 menu section ///////////////////////////////// */

.nav2 {
  display: none;
}
.menu li ul {
  display: none;
}

.menu li:hover ul {
  display: block;
  position: relative;
  left: 0;
  width: 200px;
  margin-top: 1rem;
  transition: ease-in-out 1s;
}

/* showcase sectionn //////////////////////////// */
#showcase {
  height: 80vh;
  width: 100vw;
}

.text {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 5rem;
}

/* .text {
    position: absolute;
    bottom: 15%;
    left: 10%;
    z-index: 1;
  } */

.text h1 {
  font-size: clamp(3.5rem, 4vw, 7rem);
  color: transparent;
  -webkit-text-stroke: 1.2px #fffefe;
  background: url(./back.png);
  -webkit-background-clip: text;
  background-clip: text;
  background-position: 0 0;
  animation: back 50s linear infinite;
  line-height: 1;
}

@keyframes back {
  100% {
    background-position: 2000px 0;
  }
}

.text p {
  color: rgb(250, 142, 18);
}
.showcase-btn {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 5rem;
  margin-top: 1rem;
}

.btn {
  width: 180px;
  height: 45px;
  color: #000000;
  font-size: 15px;
  background: #faf7f7;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: 0.3s;
}

.show-btn:hover {
  background: transparent;
  color: #ffffff;
  font-size: 16.5px;
  transition: 0.3s;
}

.show-btn::before,
.show-btn::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  transition: top 0.3s, left 0.3s;
  z-index: 0;
}

.show-btn::before {
  border-left: 2px solid #fdfdfd;
  border-top: 2px solid #fefefe;
}
.show-btn::after {
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
}

.show-btn:hover::before {
  top: -5px;
  left: -15px;
}

.show-btn:hover::after {
  top: 5px;
  left: 15px;
}

/* story section  /////////////////////////// */

#story-container {
  height: 60vh;
  color: #000000;
}
#story-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000000;
}

#story-heading {
  margin-top: -4rem;
  margin-bottom: 1.5rem;
}
#story-p {
  max-width: 650px;
}

/* bestseller card section ///////////////////////// */

#bestseller-container {
  /* height: 100vh; */
  color: #000000;
}

.card {
  position: relative;
  width: 270px;
  height: 330px;
  border: 2px solid rgb(21, 1, 1);
  border-radius: 4px;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card:hover {
  transform: translateZ(10px) rotateX(5deg) rotateY(15deg);
}

.card_image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card_title {
  position: absolute;
  top: 50%;
  right: 10px;
  font-weight: 500;
  font-size: 1.2rem;
  /* transform: translateY(-40%);
  transition: transform 0.5s; */
}

.card:hover .card_title {
  transform: translateZ(20px);
}

#bestseller {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  max-width: 900px;
  margin: auto;
}
#bestseller p {
  height: 150px;
}

#best-container {
  perspective: 800px;
  margin-left: 2rem;
  margin-right: 2rem;
}

#best-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  margin-bottom: 10rem;
}

#best-container .card_title {
  color: #faf7f7;
}

#best-product-details {
  margin-top: 0.7rem;
}

/* best seller btn */

.bestseller-btn {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.best_btn {
  width: 150px;
  height: 40px;
  color: #ffffff;
  font-size: 12px;
  background: #000000;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: 0.3s;
}

.best-btn:hover {
  background: transparent;
  color: #000000;
  font-size: 14px;
  transition: 0.3s;
}

.best-btn::before,
.best-btn::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  transition: top 0.3s, left 0.3s;
  z-index: 1;
}

.best-btn::before {
  border-left: 2px solid #000000;
  border-top: 2px solid #000000;
}
.best-btn::after {
  border-right: 2px solid #000000;
  border-bottom: 2px solid #000000;
}

.best-btn:hover::before {
  top: -5px;
  left: -15px;
}

.best-btn:hover::after {
  top: 5px;
  left: 15px;
}

/* cool background //////////////////////// */

#cool-bkg {
  background: url(./coolbkg.png) no-repeat center center/cover;
  height: 100vh;
  margin-top: 10rem;
}

/* up-coming ////////////////////////////////////*/
#upp_coming {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* height: 90vh; */
  max-width: 900px;
  margin: auto;
  color: #000000;
}
#upp_coming p {
  height: 100px;
}

#upp_coming-container {
  perspective: 800px;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
}

#upp_coming-container .card_title {
  color: #faf7f7;
}

#upp_coming-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

#upp_coming-product-details {
  margin-top: 0.7rem;
}

#up-coming .card {
  position: relative;
  width: 200px;
  height: 250px;
  border: 2px solid rgb(21, 1, 1);
  border-radius: 4px;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

/* extra section ///////////////////////////////////*/
#extra-container {
  margin-top: 1rem;
  background-color: rgb(250, 142, 18);
  color: #fefefe;
}

#extra-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#extra-text p {
  max-width: 500px;
  margin: 1rem;
}

.extra-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#extra-image {
  background: url(./new3.webp) no-repeat center center/cover;
  height: 450px;
  width: 50%;
}

/* instagram section */

#instagram {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000000;
}

#instagram h2 {
  color: #000000;
}

#instagram .ig-p {
  margin-bottom: 1rem;
}

#itemsg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.itemsg {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  gap: 0.1rem;
}

.itemg {
  position: relative;
  background: rgb(250, 142, 18);
  overflow: hidden;
  height: 200px;
  width: 250px;
}
.itemg::after {
  content: "";
  position: absolute;
  display: block;
  background: inherit;
  opacity: 0.75;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
  transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1);
}
.itemg:hover:after {
  transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
}
.itemg:hover .item-image {
  transform: scale(1.1);
  transition: ease-in-out 1s;
}
.itemg:hover .item-text {
  opacity: 1;
  transform: translateY(0);
}
.item-image {
  height: auto;
  transform: translateZ(0);
  display: block;
  transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
}
.item-image:before {
  content: "";
  display: block;
  padding-top: 75%;
  overflow: hidden;
}
.item-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  line-height: 0;
}
.item-text {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  text-align: center;
  z-index: 1;
  transform: translateY(-20%);
  transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1),
    transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
  transition-delay: 350ms;
}
.item-text-wrap {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.item-text-title {
  font-size: 2rem;
  padding: 0 1rem;
  margin: 5px 0 0 0;
  color: #fefefe !important;
}
.item-text-category {
  font-size: 1.2rem;
  /* opacity: 0.7; */
  margin: 0;
  color: #ffffff;
}

/* footer section */

#main-footer {
  border-top: 1px solid rgb(161, 156, 156);
  margin-top: 4rem;
  color: #000000;
}

.footer-container {
  padding-top: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 4rem;
}

.footer-container h3 {
  margin-bottom: 2rem;
}

.footer-container ul li {
  list-style: none;
  margin-bottom: 0.7rem;
}

.footer-container ul li a {
  text-decoration: none;
  color: rgb(122, 120, 120);
}
.footer-container ul li a:hover {
  color: black;
}

.copy-right {
  border-top: 1px solid rgb(161, 156, 156);
  display: flex;
  justify-content: center;
  align-items: center;
}
.copy-right p {
  padding-top: 1rem;
}

/* responsive design /////////////////////////// */

@media (max-width: 500px) {
  /* nav bar section ///////////////////////////// */

  .menu-1,
  .menu-2,
  .logo {
    display: none;
  }

  .logo2 {
    margin-right: 9rem;
    font-size: 1.2rem;
    /* position:absolute; */
  }

  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav2 {
    display: block;
  }

  .nav2-conatiner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 380px;
  }

  .menu li:hover ul {
    display: block;
    position: relative;
    left: 0;
    width: 100px;
    margin-top: 1rem;
    transition: ease-in-out 1s;
  }

  h2 {
    font-size: 1.5rem;
  }

  /* hamburger menu //////////////////// */

  .primary-navigation {
    position: fixed;
    inset: 0 0 0 40%;
    background: hsl(0 0% 100% / 0.5);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9);
    /* backdrop-filter: blur(6rem); */
    flex-direction: column;
    height: 60vh;
    padding: min(30vh, 5rem) 2em;
    padding-right: 11rem;
    margin-top: 0.2rem;
    transform: translateX(100%);
    transition: transform 450ms ease-out;
    z-index: 1000;
  }
  .primary-navigation li a {
    color: rgb(250, 142, 18);
    font-weight: 500;
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    background: url(./hamopen.png) no-repeat center center/cover;
    background-repeat: no-repeat;
    border: 0;
    width: 1.3rem;
    aspect-ratio: 1;
    right: 2rem;
    z-index: 9999;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background: url(./hamclose.png) no-repeat center center/cover;
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(0%);
  }

  /* showcase section  ////////////////////// */
  .text {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: 2rem;
  }

  .showcase-btn {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 1rem;
    margin-top: 1rem;
  }

  #cool-bkg {
    display: none;
  }
  /* story section ////////////////////////// */
  #story-container {
    height: 50vh;
    max-width: 350px;
    margin: auto;
    color: #000000;
    margin-top: 5rem;
  }

  /* best seller */

  #bestseller-container {
    height: auto;
  }

  #best-container {
    margin: auto;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
  }

  #best-heading {
    margin-bottom: 0.2rem;
  }

  #bestseller {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 20rem; */
    height: auto;
    width: 390px;
    margin: auto;
  }

  /* up coming section */

  #upp_coming {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.1rem;
    justify-content: center;
    align-items: center;
    width: 390px;
    color: #000000;
  }
  #up-coming {
    margin-top: 5rem;
  }

  #upp_coming-container {
    perspective: 800px;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #up-coming .card {
    position: relative;
    width: 120px;
    height: 150px;
    border: 2px solid rgb(21, 1, 1);
    border-radius: 4px;
    transform-style: preserve-3d;
    transition: transform 0.5s;
  }

  #upp_coming-product-details {
    margin-top: 0.7rem;
    max-width: 150px;
  }

  /* instagram section */

  .itemsg {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.2rem;
  }

  .itemg {
    position: relative;
    background: rgb(250, 142, 18);
    overflow: hidden;
    height: 130px;
    width: 170px;
  }

  /* footer section */

  .footer-container {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-bottom: 1.5rem;
  }

  .footer-container h3 {
    margin-bottom: 1rem;
  }

  .footer-container ul li {
    list-style: none;
    margin-bottom: 0.2rem;
  }

  .copy-right p {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.7rem;
  }
}
